<main>
    <h1 class="lg-heading">
        Privacy
        <span class="text-secondary">Policy</span>
    </h1>

    <h2 class="sm-heading">
        We take your privacy seriously and we give you full control over your data
    </h2>

    <h3 class="text-secondary">In what situations does I collect personal data?</h3>
    <p>If you create a account, we will collect some personal data like email address, avatar etc</p>

    <h3 class="text-secondary">Can I use your website anonymously?</h3>
    <p>
        Yes. You can access all of my blog articles without creating an account. And if you don't create an account, we
        won't collect any personal data about you
    </p>

</main>
