main {

    #home h1 {
      margin-top: 8vh;
    }

    .lg-heading {
      margin-top: 1rem;
      font-size: 3.4rem;
    }
}

.projects {
    grid-template-columns: 1fr;
}

.boxes {
    div {
      font-size: 1.1rem;
    }
}
