.angular-code-snippet {
    // margin: 0.5rem;
    // background: rgba(lighten($primary-color, 2), 0.5);
}

pre {
    // white-space: pre-line;
    text-align: left;
    // padding: 0 1rem;
    word-break: break-word;
    margin-top: 0
}

// .freestyle-code-snippet {

//     .code-snippet-file-path {
//         text-align: left;
//         // background: rgba(lighten($secondary-color, 2), 0.2);
//         padding: 0.5rem;
//         word-break: break-word;
//     }

//     margin: 1rem 0;
//     border: .5px solid $secondary-color;
//     // background: rgba(lighten($primary-color, 2), 0.5);
//     border-radius: 0.5rem;
//     position: relative;
// }

.copy-code {
    position: absolute;
    z-index: 3;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    opacity: 0.5;

      &:hover {
        @include easeOut;
        color: $secondary-color;
    }
}
