/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $primary-color;
  border-radius: 7px;
  background: $blog-bg-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
  @include easeOut;
}
