// @import '../../../../scss/helpers/variables.scss';
// @import '../../../../scss/helpers/mixins.scss';

// .job {
//     background: lighten($primary-color, 5);
//     padding: 0.5rem;
//     border-bottom: $secondary-color 5px solid;

//       &:hover {
//         @include easeOut;
//         padding: 0.5rem 1.5rem;
//         background: $secondary-color;
//         color: set-text-color($secondary-color);
//     }
// }
