header {
    position: fixed;
    z-index: 2;
    width: 100%;
    #left-menu {
        margin: 1.4rem 2rem;
        img {
            border-radius: 50%;
        }
        img#avatar{
            border: solid 1px $secondary-color;
        }
        img#login{
            cursor: pointer;
            width: 50px;
            height: 50px;
            &:hover {
               transform: scale(1.1);
               transition-duration: 0.5s;
            }

        }
        button {
            background-color: transparent;
            border: none;
            color:  $secondary-color
        }
    }
}
