// Widescreens
@include mediaXl {
  @import '../responsive/mediaXl';
}

// Desktops & Laptops
@include mediaLg {
  @import '../responsive/mediaLg';
}

// Tablets & Small Laptops
@include mediaMd {
  @import '../responsive/mediaMd';
}

// Smartphones
@include mediaSm {
  @import '../responsive/mediaSm';
}
