::ng-deep .mat-select-value {
    display: inline !important;
    font-size: 1.8rem;
}

.mat-select {
    width: auto;
}

::ng-deep .mat-option-text {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
}

.topic {
    margin-right: 15px;
}
