<mat-divider></mat-divider>

<p>
    If you would like to get notified when a new post is out, subscribe to push notifications by signing in
</p>

<p>If you enjoyed the blog post, share it on social media so others can find it!</p>

<p>
    If you have any questions, suggestions, or feedback, please leave them in the comments below! It would mean the
    world to me!!!
</p>

<div class="share-post">

    <h2>Share</h2>

    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{url}}&title={{text}}"
        attr.aria-label="Share post on linkedin" target=”_blank”>
        <i class="fab fa-linkedin fa-2x" title="Share post on Linkedin"></i>
    </a>

    <a href="http://twitter.com/share?url={{url}}&text={{text}}&hashtags={{hashtags}}"
        attr.aria-label="Share post on twitter" target=”_blank”>
        <i class="fab fa-twitter fa-2x" title="Share post on Twitter"></i>
    </a>

    <a href="http://www.facebook.com/sharer.php?u={{url}}&quote={{text}}" attr.aria-label="Share post on facebook"
        target=”_blank”>
        <i class="fab fa-facebook fa-2x" title="Share post on Facebook"></i>
    </a>

    <a href="http://pinterest.com/pin/create/button/?url={{url}}&media={{pinImage}}&description={{text}}"
        attr.aria-label="Crete pin on Pinterest" target=”_blank”>
        <i class="fab fa-pinterest fa-2x" title="Share post on Pinterest"></i>
    </a>

</div>
