// @import '~material-icons-font/sass/variables';
// @import '~material-icons-font/sass/mixins';
// $MaterialIcons_FontPath: '~material-icons-font/fonts';
// @import '~material-icons-font/sass/main';
// @import '~material-icons-font/sass/Regular';

// @import '~highlight.js/styles/dracula.css';

@import 'scss/helpers/functions';
@import 'scss/helpers/mixins';
@import 'scss/components/buttons';
@import 'scss/components/texts';
@import 'scss/components/code-snippets';
@import 'scss/components/scrollbar';
@import 'scss/components/ads';
@import 'scss/components/table';
@import 'scss/layout/header';
@import 'scss/layout/footer';
@import 'scss/layout/menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 11px;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }

  &#resume {
    a {
      padding: 0.4rem;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
    .sm-heading {
      text-align: center;
    }
  }

  &.blog-post {
    display: grid;
    max-width: 100%;
    grid-template-areas: 'content content content ad-section';
    grid-gap: 1rem;
    background: $blog-bg-color;
    color: $blog-text-color;
    grid-template-columns: repeat(4, 1fr);

    .ad-section {
      grid-area: ad-section;
    }

    .content {
      font-size: 1.15rem;
      overflow-x: auto;
      word-spacing: 0.2rem;
      grid-area: content;
      line-height: 1.7rem;
      overflow-wrap: break-word;

      img {
        max-width: 100%;
      }

      h1 {
        line-height: 2.5rem;
        margin-top: 2.5rem;
        font-weight: 600;
      }

      h2 {
        font-size: 2rem;
        line-height: 3rem;
        margin: 2.5rem 0rem;
        font-weight: 600;
      }

      h3 {
        margin: 1rem 0rem;
        font-weight: 600;
      }

      .post-heading {
        font-size: 2.5rem;
        line-height: 3.5rem;
        text-align: center;
      }
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bio-image bio bio'
    'bio-image bio bio'
    'bio-image bio bio'
    'bio-image bio bio'
    'download-resume bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bio-image;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .download-resume {
    grid-area: download-resume;
    padding: 0.4rem;
    @include easeOut;
    text-align: center;

    &:hover {
      color: $secondary-color;
    }
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;

    &:hover {
      @include easeOut;
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
    }
  }
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;

  h2:hover {
    color: $secondary-color;
    @include easeOut;
  }

  img {
    width: 100%;
    border: 2px lightsteelblue solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.related-posts {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(2, 1fr);

  img {
    width: 100%;
    border: 1px lightsteelblue solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.related-blog-card-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  grid-template-areas:
    'image title title'
    'image title title'
    'image date date';
  cursor: pointer;

  app-image {
    grid-area: image;
  }

  > p.title {
    grid-area: title;
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.5rem;
  }

  > p.blog-date {
    grid-area: date;
    font-size: 0.9rem;
    margin: 0;
    text-align: left;
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

.comment {
  display: grid;
  width: 100%;
  grid-gap: 0.5rem;
  grid-template-areas:
    'avatar comment-by comment-by comment-by comment-by comment-by'
    'avatar commentText commentText commentText commentText commentText'
    'avatar commentText commentText commentText commentText commentText'
    'avatar commentText commentText commentText commentText commentText'
    'avatar actionLike actionDislike actionReply . .';
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;

  .comment-by-avatar {
    margin: 1rem 0.5rem;
    border-radius: 50%;
    border: $secondary-color 1px solid;
    grid-area: avatar;
  }

  .comment-by-text {
    font-size: 1rem;
    height: auto;
    grid-area: comment-by;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
  }

  .comment-text {
    grid-area: commentText;
    margin-top: 0;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    > .like {
      grid-area: actionLike;
      width: 6rem;
    }

    > .dislike {
      grid-area: actionDislike;
      width: 6rem;
    }

    > .reply {
      grid-area: actionReply;
      width: 6rem;
    }
  }
}

.notifications {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;

  .notification {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
      'avatar content content content content content content content'
      'avatar date date date date date date date';
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    padding: 15px;
    cursor: pointer;
    text-align: left;

    &.unread {
      background: rgba(lighten($secondary-color, 1), 0.1);
    }

    &:hover {
      background: rgba(lighten($secondary-color, 1), 0.5);
      @include easeOut;
    }

    img#avatar {
      grid-area: avatar;
      border-radius: 50%;
      border: solid 1px $secondary-color;
    }

    .content {
      grid-area: content;
    }

    .date {
      grid-area: date;
    }
  }
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 60%;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@import 'scss/layout/mobile';

html,
body {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
