<mat-tab-group animationDuration="300ms">
  <mat-tab *ngIf="tsCode" label="TS">
    <pre><code [highlight]="tsCode"></code></pre>
    <app-copy-code [code]="tsCode"></app-copy-code>
  </mat-tab>
  <mat-tab *ngIf="htmlCode" label="HTML">
    <pre><code [highlight]="htmlCode"></code></pre>
    <app-copy-code [code]="htmlCode"></app-copy-code>
  </mat-tab>
  <mat-tab *ngIf="cssCode" label="CSS">
    <pre><code [highlight]="cssCode"></code></pre>
    <app-copy-code [code]="cssCode"></app-copy-code>
  </mat-tab>
</mat-tab-group>
